@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');s
:root {
    --very-light-pink :#C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green:#ACD8B2;
    --white: #ffffff;
    --black: #000000;
}



